aplicacoes/cin_ufc/target
aplicacoes/cin_ufc/.metadata
aplicacoes/cin_ufc/.settings
aplicacoes/cin_ufc/.classpath
aplicacoes/cin_ufc/.project
*.project
*.class
*.jar
*.war
*.ear
*.log
*.tmp
*~
.DS_Store


