<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security" 
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd"> 
  
	<http auto-config="true">
		<access-denied-handler error-page="/403" />
 		<intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" /> 
 		<intercept-url pattern="/webjars/**" access="IS_AUTHENTICATED_ANONYMOUSLY" /> 		
 		<intercept-url pattern="/resources/css/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
 		<intercept-url pattern="/resources/imagens/**" access="IS_AUTHENTICATED_ANONYMOUSLY" /> 		
 		<intercept-url pattern="/*/professor/**" access="ROLE_PROFESSOR" />
 		<intercept-url pattern="/**" access="ROLE_ALUNO,ROLE_PROFESSOR" />
 		<!-- <intercept-url pattern="/usuario/cadastre-se" access="IS_AUTHENTICATED_ANONYMOUSLY" /> -->	
 		
 		<form-login login-page="/login" default-target-url="/" 
 			authentication-failure-url="/loginfailed" />
 		<logout logout-success-url="/login" invalidate-session="true"/> 	
 	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="sha-256"/>
			<jdbc-user-service data-source-ref="cinufc"
				users-by-username-query="SELECT login, senha, habilitado FROM usuario WHERE login = ?"
				authorities-by-username-query="SELECT u.login, u.papel FROM usuario AS u WHERE u.login = ?" 
			/>          

			<!-- <jdbc-user-service data-source-ref="cinufc"
				users-by-username-query="SELECT login, senha, habilitado FROM usuario WHERE login = ?"
				authorities-by-username-query="SELECT u.login, u.papel FROM usuario AS u WHERE u.login = ?" 
            /> -->
                    
		</authentication-provider>		
 	</authentication-manager>
 	
  	<global-method-security  secured-annotations = "enabled"  />
</beans:beans>